html {
  background: black;
  color: white;
}

h1, h2, p, a {
  color: #ffffff !important;
}


/* Style the links inside the navigation bar */
#page-nav a {
  color: #ffffff !important;
}



#page-nav label {
	background: #000000;
	color: #ffffff;
}


 #page-nav ul li {
    background: #000000;
  }